*.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.idea/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos 
into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

# Project specific directories
output/
compiam/rhythm/meter/new_tool/
compiam/models/timbre/mridangam_stroke_classification/pre-computed_features.csv
compiam/models/structure/dhrupad_bandish_segmentation/annotations/section_boundaries_labels.csv
compiam/models/structure/dhrupad_bandish_segmentation/annotations/cycle_boundaries/
tests/resources/mir_datasets/*
compiam/models/separation/
compiam/models/structure/
compiam/models/melody/
compiam/models/rhythm/

# For next release
compiam/models/rhythm/4wayTabla/
tests/rhythm/test_4way_tabla.py
compiam/rhythm/transcription/tabla_transcription/

# To avoid dependency clashes
compiam/utils/augment/augment_data_ps.py
compiam/utils/augment/augment_data_ts.py