include ACKNOWLEDGEMENTS
include AUTHORS
include requirements.txt
recursive-include compiam/models *
recursive-include compiam/conf *
recursive-include compiam/visualisation/waveform_player/waveform-playlist *
recursive-include compiam/utils/augmentation *
recursive-include compiam/utils/NMFtoolbox *
recursive-include compiam/notebooks *